* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#darkMode {
    position: relative;
}
#darkMode button {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: larger;
    font-weight: bold;
    padding: 0 2px;
    border-radius: 3px;
    /* border: 2px solid black; */
    cursor: pointer;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
    /* background-color: white; */
}

#basicInfo {
    text-align: center;
}

#extraInfo {
    display: flex;
    justify-content: space-around;
}
#extraInfo > div {
    text-align: center;
}

.card {
    display: none;
    background-color: antiquewhite;
    padding: 1rem 0;
    width: 450px;
    border-radius: 36px;
    /* padding: 3rem;
    padding-bottom: 1rem; */
    /* display: grid; */
    gap: 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.card:hover {
    transform: scale(1.1);
}
.card img {
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

